<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="grad">
  <div id="app">
    <center>
      <h1 class="judul-list">Vue-JS TO DO LIST</h1>
      <div class="container">
        <h1 class="judul">Catatan Harian</h1>
        <div class="search">
          <input v-model="add" type="text" placeholder="Ketik Catatan Lalu Enter" class="input_ mb-2" @keyup.enter="enter" />
          <input type="text" placeholder="pencarian" v-model="cari" class="input_" />
        </div>

        <div class="to-do-list">
          <h1 class="subjudul">Daftar Catatan Harian</h1>
          <div class="todo-list mb-3" v-for="(list,index) in pencarian">
            <input :disabled="list.disable" type="text" v-model="list.activity" :value="list.activity" class="input__" />

            <button @click="edit(index, list.disable)" class="edit ml-2">Edit</button>
            <button @click="hapus(index)" class="delete ml-3">Hapus</button>
          </div>
        </div>
        <div class="clearsection">
          <button @click="clear" class="clear">Hapus Semua Catatan</button>
        </div>
      </div>
  </div>
</body>
  <body>
    <script src="vue.js"></script>
    <script src="apps.js"></script>
  </body>
</html>
